/.idea/.idea.Fiszki/.idea/.name
/.idea/.idea.Fiszki/.idea/contentModel.xml
/.vs/Fiszki/v16/Server/sqlite3/db.lock
/Stories/obj/Debug/Fiszki.csproj.CopyComplete
/Stories/obj/Debug/Fiszki.csproj.CoreCompileInputs.cache
/Stories/obj/Debug/Fiszki.csproj.FileListAbsolute.txt
/Stories/obj/Debug/Fiszki.csproj.GenerateResource.cache
/Stories/obj/Debug/Fiszki.csprojAssemblyReference.cache
/Stories/bin/Debug/Fiszki.exe
/Stories/obj/Debug/Fiszki.exe
/Stories/bin/Debug/Fiszki.exe.config
/Stories/obj/Debug/Fiszki.g.resources
/Stories/bin/Debug/Fiszki.pdb
/Stories/obj/Debug/Fiszki.pdb
/Stories/obj/Debug/Fiszki.Properties.Resources.resources
/Stories/obj/Debug/Fiszki_MarkupCompile.cache
/.idea/.idea.Fiszki/.idea/indexLayout.xml
/.idea/.idea.Fiszki/.idea/modules.xml
/.idea/.idea.Fiszki/.idea/projectSettingsUpdater.xml
/.idea/.idea.Fiszki/riderModule.iml
/.vs/Fiszki/v16/Server/sqlite3/storage.ide
/.idea/.idea.Fiszki/.idea/vcs.xml
/Stories/obj/Debug/Fiszki_MarkupCompile.lref
/.idea/.idea.Fiszki/.idea/encodings.xml
/.vs/Fiszki/v16/.suo
/Stories/obj/Debug/Fiszki_Content.g.cs
/Stories/obj/Debug/Fiszki_Content.g.i.cs
